<div class="container">
    <h2>Detalle del Pedido</h2>
  
    <!-- Lista de productos pedidos -->
     <div *ngIf="detalleArmado">
       <div class="miniCard listaFila" *ngFor="let producto of detalleArmado.pedido">
         <!-- <img *ngIf="producto.fotos" [src]="producto.fotos[0]" alt="Imagen de {{ producto.producto }}"> -->
         <p class="producto-nombre">{{ producto.nombre }} ({{ producto.cantidad }})</p>
         <p>${{ producto.precio }}</p>
       </div>
     </div>
    
  
    <!-- Detalles adicionales -->
    <div class="detalle-adicional" *ngIf="detalleArmado">
      <div class="listaFila">
        <p>Subotal</p> 
          <p>${{ detalleArmado.total }}</p>
        </div>
        <div *ngIf="detalleArmado.descuento" class="listaFila">
        <p>Descuento aplicado ({{ detalleArmado.descuento }}%) </p> 
        <p style="color:green">-${{descuentoCalculado}}</p>
      </div>
      <div *ngIf="detalleArmado.propina" class="listaFila">
        <p>Propina ({{ detalleArmado.propina }}%)</p> 
        <p style="color: red;">+${{propinaCalculada}}</p>
      </div>
    </div>
    
    <div class="listaFila" *ngIf="detalleArmado">
      <h3>Total Final</h3> 
      <h3>${{ detalleArmado.totalFinal }}</h3>
    </div>

  <button *ngIf="detalleArmado" class="botonPrincipal" (click)="pagar()"><ion-icon name="cash-outline"></ion-icon> Pagar</button>
  <p *ngIf="!detalleArmado">Error, no hay detalle cargado</p>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 08)"
  template="<img src='./../../../assets/logoConFondo.png' alt='logo' />"
>
  <!-- <p style="color: white; font-size: 40px">Cargando...</p> -->
</ngx-spinner>
