<div class="container">
  <h1>Crear {{ titulo }}</h1>
  <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
    <!-- Nombre del Producto -->
    <ion-item>
      <ion-label position="stacked">Nombre del Producto:</ion-label>
      <ion-input formControlName="nombre" required></ion-input>
    </ion-item>
    <ion-item
      *ngIf="productoForm.get('nombre')?.invalid && productoForm.get('nombre')?.touched"
    >
      <ion-label color="danger">Este campo es obligatorio</ion-label>
    </ion-item>

    <!-- Descripción -->
    <ion-item>
      <ion-label position="stacked">Descripción:</ion-label>
      <ion-textarea formControlName="descripcion" required></ion-textarea>
    </ion-item>
    <ion-item
      *ngIf="productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched"
    >
      <ion-label color="danger">Este campo es obligatorio</ion-label>
    </ion-item>

    <!-- Tiempo de Elaboración -->
    <ion-item>
      <ion-label position="stacked">Tiempo de Elaboración (minutos):</ion-label>
      <ion-input
        formControlName="tiempoElaboracion"
        type="number"
        required
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="productoForm.get('tiempoElaboracion')?.invalid && productoForm.get('tiempoElaboracion')?.touched"
    >
      <ion-label color="danger">Este campo es obligatorio</ion-label>
    </ion-item>

    <!-- Precio -->
    <ion-item>
      <ion-label position="stacked">Precio:</ion-label>
      <ion-input formControlName="precio" type="number" required></ion-input>
    </ion-item>
    <ion-item
      *ngIf="productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched"
    >
      <ion-label color="danger">Este campo es obligatorio</ion-label>
    </ion-item>

    <!-- Campo 'esPostre' solo para la categoría 'Cocinero' -->
    <ion-item *ngIf="productoForm.controls['categoria'].value === 'Cocinero'">
      <!-- <ion-label position="stacked">¿La comida es un postre?</ion-label> -->

      <ion-checkbox label-placement="start" label="" formControlName="esPostre">
        ¿La comida es un postre?
      </ion-checkbox>
    </ion-item>

    <!-- Capturar Foto -->
    <button type="button" (click)="tomarFoto()" class="botonPrincipal">
      Capturar Foto
    </button>

    <!-- Botón de Enviar -->
    <button
      type="submit"
      class="botonPrincipal"
      [disabled]="productoForm.invalid"
    >
      Registrar Producto
    </button>
  </form>

  <!-- Mostrar las fotos capturadas -->
  <h3 *ngIf="fotos.length > 0">Fotos del Producto</h3>
  <div *ngIf="fotos.length > 0" class="img-container">
    <div *ngFor="let foto of fotos">
      <img [src]="foto" alt="Foto del producto" />
    </div>
  </div>

  <!-- Mostrar el código QR si existe -->
  <h3 *ngIf="codigoQR">Código QR del Producto:</h3>
  <div *ngIf="codigoQR" class="qr-container">
    <img [src]="codigoQR" alt="Código QR del producto" />
  </div>
</div>
