ion-toolbar {
  --background: #b26444;
  color: white;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: var(--color-detalle-claro);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

form {
  width: 100%;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 15px;
}

ion-item {
  margin-bottom: 15px;
  border-radius: 15px;
}

ion-label {
  font-weight: bold;
  font-size: 20px;
}

ion-input,
ion-textarea,
ion-select {
  font-size: 20px;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 15px;
  padding: 10px;
}

.img-container img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 100px;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.qr-container img {
  max-width: 150px;
  border: 2px solid #b26444;
  border-radius: 10px;
}
