<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <form [formGroup]="mesaForm" (ngSubmit)="onSubmit()">
    <!-- Campos del formulario -->
    <ion-item>
      <ion-label position="stacked">Número de Mesa:</ion-label>
      <ion-select formControlName="numero" required>
        <ion-select-option value="1">Mesa 1</ion-select-option>
        <ion-select-option value="2">Mesa 2</ion-select-option>
        <ion-select-option value="3">Mesa 3</ion-select-option>
        <ion-select-option value="4">Mesa 4</ion-select-option>
        <ion-select-option value="5">Mesa 5</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cantidad de Comensales:</ion-label>
      <ion-select formControlName="cantidadComensales" required>
        <ion-select-option *ngFor="let cantidad of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="cantidad">{{ cantidad }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tipo de Mesa:</ion-label>
      <ion-select formControlName="tipo" required>
        <ion-select-option value="VIP">VIP</ion-select-option>
        <ion-select-option value="Discapacitados">Discapacitados</ion-select-option>
        <ion-select-option value="Estándar">Estándar</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de Creación:</ion-label>
      <ion-input formControlName="fechaCreacion" type="date"></ion-input>
    </ion-item>

    <!-- Botón para capturar la foto -->
    <ion-button expand="full" (click)="tomarFoto()" class="btnImagen">Capturar Foto</ion-button>

    <!-- Botón para enviar el formulario -->
    <ion-button expand="full" type="submit" class="botonPrincipal">Crear Mesa</ion-button>
  </form>

  <!-- Mostrar el código QR generado -->
  <div *ngIf="codigoQR">
    <h3>Código QR:</h3>
    <img [src]="codigoQR" alt="Código QR de la mesa" />
  </div>

  <!-- Mostrar la foto capturada -->
  <div *ngIf="fotoUrl">
    <h3>Foto:</h3>
    <img [src]="fotoUrl" alt="Foto de la mesa" />
  </div>
</ion-content>
