<div class="container">
  <!-- CLIENTES, ANÓNIMOS -->
  <ng-container
    *ngIf="
      ['Cliente', 'Anónimo', 'Sin asignar'].includes(authService.tipoUsuario)
    "
  >
    <!-- Va a la página de ingreso -->
    <h1>
      ¡Bienvenido {{ authService.usuarioLogeado?.nombre }} a La Comandita FKS!
    </h1>
    <ng-container *ngIf="authService.accionActual === 'INGRESO'">
      <h2>Para iniciar el proceso, escanea el QR de la entrada</h2>
      <button
        id="escanerIngreso"
        class="botonPrincipal botonScan"
        (click)="escanearQr()"
      >
        <ion-icon name="qr-code-outline" class="iconScan"></ion-icon>
      </button>
    </ng-container>

    <!-- MESA -->
    <!-- Comente esta parte porque despues de crear el pedido redirige a la pagina de la mesa donde tiene las acciones -->
    <!-- <div *ngIf="authService.accionActual === 'MESA'" class="listaColumna">
      <button class="botonPrincipal">Menú</button>
      <button class="botonPrincipal">Pedir</button>
      <button class="botonPrincipal">Hablar con el mozo</button>
      <button class="botonPrincipal">Estado del pedido</button>
      <button class="botonPrincipal">Completar encuesta</button>
      <button class="botonPrincipal">Juegos</button>
      <p>Escanea el código QR de propina y da la propina según la atención!</p>
    </div> -->

    <!-- PROPINA -->
    <div *ngIf="authService.accionActual === 'PROPINA'" class="listaColumna">
      <h2>Seleccione qué propina desea dar</h2>
      <button class="botonPrincipal">Excelente (20%)</button>
      <button class="botonPrincipal">Muy bueno (15%)</button>
      <button class="botonPrincipal">Bueno (10%)</button>
      <button class="botonPrincipal">Regular (15%)</button>
      <button class="botonPrincipal">Malo (0%)</button>
    </div>
  </ng-container>

  <!-- MAITRE -->
  <div *ngIf="authService.tipoUsuario === 'Maître'">
    <h1>¡Hola {{ authService.usuarioLogeado?.nombre }}!</h1>
    <h2>Selecciona una acción a realizar</h2>
    <div class="buttonsContainer">
      <button
        class="botonPrincipal"
        (click)="navegarSiguienteAccionMaitre('asignarMesas')"
      >
        <ion-icon name="restaurant-outline" size="large"></ion-icon>
        Asignar mesa a cliente -- Ver lista de espera
      </button>
      <button
        class="botonPrincipal"
        (click)="navegarSiguienteAccionMaitre('altaCliente')"
      >
        <ion-icon name="person-add-outline" size="large"></ion-icon>
        Dar de alta a un cliente
      </button>
    </div>
  </div>

  <!-- MOZO -->
  <div *ngIf="authService.tipoUsuario === 'Mozo'">
    <h1>¡Hola {{ authService.usuarioLogeado?.nombre }}!</h1>
    <h2>Selecciona una acción a realizar</h2>
    <div class="buttonsContainer">
      <button
        class="botonPrincipal"
        (click)="navegarSiguienteAccionMozo('pedidos')"
      >
        <ion-icon name="pizza-outline" ></ion-icon>
        Confirmar pedidos
      </button>
      <button
        class="botonPrincipal"
        (click)="navegarSiguienteAccionMozo('pendientes')"
      >
        <ion-icon name="send-outline" ></ion-icon> Pedidos a entregar
      </button>
      <button
        class="botonPrincipal"
        (click)="navegarSiguienteAccionMozo('entregarCuenta')"
      >
        <ion-icon name="checkbox-outline" ></ion-icon>
        Entregar cuenta
      </button>
      <button
        class="botonPrincipal"
        (click)="navegarSiguienteAccionMozo('pagos')"
      >
        <ion-icon name="wallet-outline" ></ion-icon>
        Confirmar pagos 
      </button>
    </div>
  </div>

  <!-- BARTENDER Y COCINERO -->
  <div
    *ngIf="
      authService.tipoUsuario === 'Bartender' ||
      authService.tipoUsuario === 'Cocinero'
    "
  >
    <h1>¡Hola {{ authService.usuarioLogeado?.nombre }}!</h1>
    <p *ngIf="!tareas.length">Por el momento no tienes tareas</p>

    <div *ngIf="tareas.length > 0">
      <h2>Lista de tareas</h2>
      <div *ngFor="let tarea of tareas" class="listaVerPedidoMesa">
        <h2 id="numeroMesa">
          Mesa #{{ tarea.numeroDeMesa }} Estado:
          {{ tarea.estadoPedido.toUpperCase() }}
        </h2>
        <ion-fab-button
          color="primary"
          (click)="verDetalleDelPedido(tarea)"
          size="small"
        >
          <ion-icon name="information-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </div>

    <!-- Modal para mostrar el detalle del pedido -->
    <ion-modal #modal [isOpen]="estaAbiertoElModal" class="ionModal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Detalle del Pedido</ion-title>
            <ion-buttons slot="end">
              <ion-button color="primary" (click)="setModalOpen(false)">
                Cerrar
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <ion-list *ngIf="tareaSeleccionada !== undefined">
            <!-- Aquí iteramos sobre la lista de productos en el pedido -->
            <ion-item
              *ngFor="let producto of tareaSeleccionada?.listaProductos"
            >
              <ion-avatar slot="start">
                <ion-img [src]="producto.fotos[0]"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2 id="nombreProducto">
                  {{ producto.nombre }}
                </h2>
                <p id="dataProducto">
                  Cantidad:
                  {{ producto.cantidadSolicitada }} Tiempo de elaboración:
                  {{ producto.tiempoElaboracion }} min
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
          <!-- Opciones para cambiar el estado -->
          <ion-footer>
            <ion-toolbar>
              <p>Marcar pedido como:</p>
              <div class="botonesCambioDeEstado">
                <ion-button
                  class="secondary"
                  (click)="actualizarEstado('pendiente')"
                  [disabled]="tareaSeleccionada?.estadoPedido === 'pendiente'"
                >
                  Pendiente
                </ion-button>
                <ion-button
                  color="warning"
                  (click)="actualizarEstado('en proceso')"
                  [disabled]="tareaSeleccionada?.estadoPedido === 'en proceso'"
                >
                  En proceso
                </ion-button>
                <ion-button
                  color="success"
                  (click)="actualizarEstado('listo')"
                  [disabled]="tareaSeleccionada?.estadoPedido === 'listo'"
                >
                  Listo
                </ion-button>
              </div>
            </ion-toolbar>
          </ion-footer>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</div>

<ngx-spinner
  bdColor="black"
  template="<img src='./../../../assets/spinner.png' alt='logo' />"
></ngx-spinner>
