<div class="container">
  <!-- Ingreso de Clientes y Anonimos: Cuando escanea el qr los redirigue a la pagina de ingreso -->
  <ng-container
    *ngIf="
      ['Cliente', 'Anónimo', 'Sin asignar'].includes(authService.tipoUsuario)
    "
  >
    <h1>
      ¡Bienvenido {{ authService.usuarioLogeado?.nombre }} a La Comandita FKS!
    </h1>
    <!-- INGRESO -->
    <ng-container *ngIf="authService.accionActual === 'INGRESO'">
      <h2>Para iniciar el proceso, escanea el QR de la entrada</h2>
      <button
        id="escanerIngreso"
        class="botonPrincipal botonScan"
        (click)="escanearQr()"
      >
        <ion-icon name="qr-code-outline" class="iconScan"></ion-icon>
      </button>
    </ng-container>

    <!-- MESA -->
    <div *ngIf="authService.accionActual === 'MESA'" class="listaColumna">
      <button class="botonPrincipal">Menú</button>
      <button class="botonPrincipal">Pedir</button>
      <button class="botonPrincipal">Hablar con el mozo</button>
      <button class="botonPrincipal">Estado del pedido</button>
      <button class="botonPrincipal">Completar encuesta</button>
      <button class="botonPrincipal">Juegos</button>
      <p>Escanea el código QR de propina y da la propina según la atención!</p>
    </div>

    <!-- PROPINA -->
    <div *ngIf="authService.accionActual === 'PROPINA'" class="listaColumna">
      <h2>Seleccione qué propina desea dar</h2>
      <button class="botonPrincipal">Excelente (20%)</button>
      <button class="botonPrincipal">Muy bueno (15%)</button>
      <button class="botonPrincipal">Bueno (10%)</button>
      <button class="botonPrincipal">Regular (15%)</button>
      <button class="botonPrincipal">Malo (0%)</button>
    </div>
  </ng-container>

  <!-- MAITRE -->
  <div *ngIf="authService.tipoUsuario === 'Maître'">
    <h1>¡Hola {{ authService.usuarioLogeado?.nombre }}!</h1>
    <h2>Selecciona una acción a realizar</h2>
    <div class="buttonsContainer">
      <button
        class="botonPrincipal"
        (click)="navegarSiguienteAccionMaitre('asignarMesas')"
      >
        <ion-icon name="restaurant-outline" size="large"></ion-icon>
        Asignar mesa a cliente -- Ver lista de espera
      </button>
      <button
        class="botonPrincipal"
        (click)="navegarSiguienteAccionMaitre('altaCliente')"
      >
        <ion-icon name="person-add-outline" size="large"></ion-icon>
        Dar de alta a un cliente
      </button>
    </div>
  </div>
    <!-- MOZO -->
    <div *ngIf="authService.tipoUsuario === 'Mozo'">
      <h1>¡Hola {{ authService.usuarioLogeado?.nombre }}!</h1>
      <h2>Selecciona una acción a realizar</h2>
      <div class="buttonsContainer">
        <button
          class="botonPrincipal"
          (click)="navegarSiguienteAccionMozo('pedidos')"
        >
          <ion-icon name="pizza-outline" size="large"></ion-icon>
          Confirmar pedidos
        </button>
        <button
          class="botonPrincipal"
          (click)="navegarSiguienteAccionMozo('pagos')"
        >
          <ion-icon name="wallet-outline" size="large"></ion-icon>
          Confirmas pagos
        </button>
      </div>
    </div>
</div>
