<ion-content>

  <!-- Botón de escaneo de QR ocupa toda la pantalla -->
  <div *ngIf="botonQr" class="scan-button-container">
    <ion-button expand="block" fill="solid" color="primary" (click)="scanerDQrMesa()" class="full-screen-button">
      Escanear Código QR
    </ion-button>
  </div>

  <!-- Lista de productos aparece solo si listarProductos es true -->
  <div *ngIf="listarProductos">
    <div class="cards">
      <ion-card *ngFor="let producto of listaProductosFiltrados">
        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option>
              <img alt="Imagen del producto" [src]="producto.fotos[0]" />
            </ion-item-option>
          </ion-item-options>

          <ion-item>
            <img alt="Imagen del producto" [src]="producto.fotos[1]" />
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option>
              <img alt="Imagen del producto" [src]="producto.fotos[2]" />
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-card-header>
          <ion-card-title>{{ producto.nombre }}</ion-card-title>
          <ion-card-subtitle>Precio: $ {{ producto.precio }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p>{{ producto.descripcion }}</p>
          <p>
            <strong>Tiempo de elaboración: </strong>{{
            producto.tiempoElaboracion }} minutos
          </p>
          <ion-button fill="outline" (click)="seleccionarProducto(producto)">
            <ion-icon name="add-outline" size="large"></ion-icon>
            Agregar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    
  </div>
  
  

</ion-content>


<div class="info-container"> 
  <div *ngIf="tiempoEstimado > 0" class="tiempo-estimado">
    <p>Tiempo estimado de preparación: {{ tiempoEstimado }} minutos</p>
    <p>Precio acumulado de todos los productos: {{ precioPagar }} Pesos</p>
    <ion-button  (click)="finalizarVenta()" class="finalizar-venta-btn">
      Finalizar Venta
    </ion-button>
  </div>
</div>




<!-- Mostrar el componente de chat solo si 'chat' es verdadero -->
<!--<app-sala-de-chat *ngIf="chat"></app-sala-de-chat> -->