<ion-content>

  <!-- Botón de escaneo de QR ocupa toda la pantalla -->
  <div *ngIf="botonQr" class="scan-button-container">
    <ion-button expand="block" fill="solid" color="primary" (click)="scanerDQrMesa()" class="full-screen-button">
      Escanear Código QR
    </ion-button>
  </div>

  <!-- Lista de productos aparece solo si listarProductos es true -->
  <div *ngIf="listarProductos">
    <div *ngIf="tiempoEstimado > 0" class="tiempo-estimado">
      <p>Tiempo estimado de preparación: {{ tiempoEstimado }} minutos</p>
      <p>Precio acumulado de todos los productos: {{ precioPagar }} Pesos</p>
      <ion-button  (click)="finalizarVenta()" class="finalizar-venta-btn">
        Finalizar Venta
      </ion-button>
    </div>
    
    <h2 class="section-title">Bebidas</h2>
    <div *ngFor="let bebida of bebidas" class="producto">
      <h3 class="producto-name">{{ bebida.nombre }}</h3>
      <!-- Iterar sobre las imágenes de cada bebida -->
      <div *ngFor="let foto of bebida.fotos" class="producto-img-container">
        <img [src]="foto" alt="Foto del producto" class="producto-img">
      </div>
      
      <p class="producto-description">{{ bebida.descripcion }}</p>
      <p class="producto-price">Precio: {{ bebida.precio | currency }}</p>
      <p class="producto-time">Tiempo de elaboración: {{ bebida.tiempoElaboracion }} mins</p>
      <ion-button class="seleccionar-btn" (click)="seleccionarProducto(bebida)">Seleccionar</ion-button>
    </div>
  
    <h2 class="section-title">Comidas</h2>
    <div *ngFor="let comida of comidas" class="producto">
      <h3 class="producto-name">{{ comida.nombre }}</h3>
      <!-- Iterar sobre las imágenes de cada comida -->
      <div *ngFor="let foto of comida.fotos" class="producto-img-container">
        <img [src]="foto" alt="Foto del producto" class="producto-img">
      </div>
      
      <p class="producto-description">{{ comida.descripcion }}</p>
      <p class="producto-price">Precio: {{ comida.precio | currency }}</p>
      <p class="producto-time">Tiempo de elaboración: {{ comida.tiempoElaboracion }} Pesos</p>
      <ion-button class="seleccionar-btn" (click)="seleccionarProducto(comida)">Seleccionar</ion-button>
    </div>
    
  </div>
  
  

</ion-content>


<div class="info-container"> 
  <div *ngIf="tiempoEstimado > 0" class="tiempo-estimado">
    <p>Tiempo estimado de preparación: {{ tiempoEstimado }} minutos</p>
    <p>Precio acumulado de todos los productos: {{ precioPagar }} Pesos</p>
    <ion-button  (click)="finalizarVenta()" class="finalizar-venta-btn">
      Finalizar Venta
    </ion-button>
  </div>
</div>




<!-- Mostrar el componente de chat solo si 'chat' es verdadero -->
<!--<app-sala-de-chat *ngIf="chat"></app-sala-de-chat> -->