<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Seleccione dificultad </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Seleccione dificultad</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="button-container">
    <!-- Botón Fácil -->
    <ion-button
      expand="block"
      class="full-height-button"
      color="success"
      (click)="irAFacil()"
    >
      <div class="d-flex flex-column align-items-center">
        <img
          src="../../../assets/icon/easyAnimals.png"
          style="width: 50px; height: 50px; margin-bottom: 10px"
        />
        <div
          class="text-container2 text-wrap"
          style="font-size: 24px; font-weight: bold"
        >
          Fácil
        </div>
        <label class="text-container3" style="font-size: 18px">3 pares</label>
      </div>
    </ion-button>

    <!-- Botón Medio -->
    <ion-button
      expand="block"
      class="full-height-button"
      color="warning"
      (click)="irAMedio()"
    >
      <div class="d-flex flex-column align-items-center">
        <img
          src="../../../assets/icon/machineMedio.png"
          style="width: 50px; height: 50px; margin-bottom: 10px"
        />
        <div
          class="text-container2 text-wrap"
          style="font-size: 24px; font-weight: bold"
        >
          Medio
        </div>
        <label class="text-container3" style="font-size: 18px">5 pares</label>
      </div>
    </ion-button>

    <!-- Botón Difícil -->
    <ion-button
      expand="block"
      class="full-height-button"
      color="danger"
      (click)="irADificil()"
    >
      <div class="d-flex flex-column align-items-center">
        <img
          src="../../../assets/icon/fruitsHard.png"
          style="width: 50px; height: 50px; margin-bottom: 10px"
        />
        <div
          class="text-container2 text-wrap"
          style="font-size: 24px; font-weight: bold"
        >
          Difícil
        </div>
        <label class="text-container3" style="font-size: 18px">8 pares</label>
      </div>
    </ion-button>
  </div>

  <!-- Botón FAB para Scores -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    (click)="irAScores()"
  >
    <ion-fab-button color="success">
      <ion-icon name="stats-chart" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Botón volver al menú -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button class="iconos" (click)="volverAtras()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
