<div class="container">
  <!-- Clientes -->
  <ng-container
    *ngIf="authService.tipoUsuario === 'Cliente' && mesa !== undefined"
  >
    <h1>Escanea el QR de la mesa {{ mesa.numero }}</h1>
    <button
      id="escanearQrMesa"
      class="botonPrincipal botonScan"
      (click)="escanearQr()"
    >
      <ion-icon name="qr-code-outline" class="iconScan"></ion-icon>
    </button>

    <p id="estadoCero" *ngIf="stepActual === 0">
      Podrás ver la información de tu mesa después de escanear su QR
    </p>

    <div *ngIf="stepActual > 0 && estadoDelPedido">
      <p id="estadoDelPedido">Estado del pedido : {{ estadoDelPedido }}</p>
      <iframe
        *ngIf="estadoDelPedido === 'Pendiente'"
        src="./../../../assets/gif/Pendiente.gif"
        width="100%"
        height="100%"
        frameBorder="0"
        allowFullScreen
      ></iframe>
      <iframe
        *ngIf="estadoDelPedido === 'En proceso'"
        src="./../../../assets/gif/Proceso.gif"
        width="100%"
        height="100%"
        frameBorder="0"
        allowFullScreen
      ></iframe>
      <iframe
        *ngIf="estadoDelPedido === 'Listo'"
        src="./../../../assets/gif/Listo.gif"
        width="100%"
        height="100%"
        frameBorder="0"
        allowFullScreen
      ></iframe>
    </div>

    <button
      *ngIf="stepActual > 1 && stepActual < 5"
      class="botonPrincipal"
      (click)="navegarA('juegos')"
    >
      Ir a juegos
    </button>

    <button
      *ngIf="stepActual > 1 && stepActual < 6 && !pedido.completoEncuesta"
      class="botonPrincipal"
      (click)="navegarA('completarEncuesta')"
    >
      Ir a completar encuesta
    </button>

    <button
      *ngIf="stepActual > 0 && pedido.completoEncuesta"
      class="botonPrincipal"
      (click)="navegarA('resultadosEncuestas')"
    >
      Ver los resultados de las encuestas
    </button>

    <button
      *ngIf="stepActual === 3 && !pedido.confirmarRecepcion"
      class="botonPrincipal"
      (click)="confirmarRecepcionDelPedido()"
    >
      Confirmar recepción del pedido
    </button>

    <button
      *ngIf="
        stepActual === 4 && pedido.confirmarRecepcion && !pedido.pidioLaCuenta
      "
      class="botonPrincipal"
      (click)="pedirCuenta()"
    >
      Pedir cuenta
    </button>

    <button
      *ngIf="stepActual === 5 && pedido.tieneLaCuenta"
      class="botonPrincipal"
      (click)="navegarA('pagarCuenta')"
    >
      Ir a pagar cuenta
    </button>
  </ng-container>
</div>
