.fotoPerfil {
  aspect-ratio: 1/1;
  position: relative;
  height: 160px;
  img {
    min-width: 35vw;
    width: 35vw;
    height: 35vw;
    object-fit: cover;
  }
}

.sinFoto {
  font-size: 35vw;
}

.botonCamara {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.primerBloque {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.ultimoBloque {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.ultimoBloqueConMasDatos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.primerMitad {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.textoError {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permite que el formulario ocupe espacio disponible */
  overflow-y: auto;
}

.contenedor {
  padding-top: 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}

ion-select,
ion-item {
  --background: rgba(0, 0, 0, 0);
}
ion-input,
ion-button,
ion-text,
ion-select,
button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-input,
ion-select {
  width: 38vw;
  margin-right: 10px;
  font-size: 30px;
}

ion-input,
ion-select {
  height: 90px;
  width: auto;
  --color:white;
  --placeholder-color:white;
  color:white;
}

.text {
  font-size: 20px;
}

.qr-icon {
  font-size: 30px;
  margin-right: 15px;
}

#buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}