<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<ion-app>
  <ion-header>
    <ion-toolbar *ngIf="this.authService.usuarioLogeado.length != 0">
      <ion-title>{{authService.usuarioLogeado.nombre}} - {{authService.usuarioLogeado.tipoUsuario}} </ion-title>
      <img src="{{authService.usuarioLogeado.foto}}" alt="Foto de perfil" class="fotoPerfil">
    </ion-toolbar>
  </ion-header>
  <ion-footer>
    <ion-toolbar *ngIf="this.authService.usuarioLogeado.length != 0">
      <!-- <ion-toolbar *ngIf="this.auth.currentUser?.email!=undefined" > -->
      <ion-buttons class="navigationBar">
        <ion-button [routerLink]="'/'" routerDirection="root">
          <ion-icon name="home"></ion-icon>
        </ion-button>
        <ion-button  *ngIf="
        this.authService.tipoUsuario == 'Dueño' ||
        this.authService.tipoUsuario == 'Supervisor' ||
        authService.tipoUsuario=='Maître'"
        (click)="toggleList($event)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="
            this.authService.tipoUsuario == 'Dueño' ||
            this.authService.tipoUsuario == 'Supervisor'
          " [routerLink]="'/listaClientes'" routerDirection="root">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <ion-list *ngIf="showList" class="custom-list">
    <h3 class="list-title">Alta de Usuario</h3>
    <ion-item *ngIf="authService.tipoUsuario=='Maître'" (click)="selectOption('Clientes')">Clientes</ion-item>
    <ion-item *ngIf="
    this.authService.tipoUsuario == 'Dueño' ||
    this.authService.tipoUsuario == 'Supervisor'
  " (click)="selectOption('Empleado')">Empleado</ion-item>
    <ion-item *ngIf="
    this.authService.tipoUsuario == 'Dueño' ||
    this.authService.tipoUsuario == 'Supervisor'
  " (click)="selectOption('Supervisor')">Dueño o Supervisor</ion-item>
  </ion-list>
</ion-app>

<!-- El splash screen personalizado -->
<app-splash-screen *ngIf="!bandera"></app-splash-screen>