<ion-app>
  <ion-header *ngIf="this.authService.usuarioLogeado">
    <ion-toolbar
      class="header"
      *ngIf="this.authService.usuarioLogeado !== undefined"
    >
      <ion-title
        >{{ authService.usuarioLogeado.nombre }} -
        {{ authService.usuarioLogeado.tipoUsuario }}
      </ion-title>
      <ion-buttons slot="end">
        <img
          src="{{ authService.usuarioLogeado.foto }}"
          alt="Foto de perfil"
          class="fotoPerfil"
        />
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-footer>
    <ion-toolbar *ngIf="this.authService.usuarioLogeado !== undefined">
      <ion-buttons class="navigationBar">
        <ion-button [routerLink]="'/home'" routerDirection="root">
          <ion-icon name="home"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="
            this.authService.tipoUsuario === 'Dueño' ||
            this.authService.tipoUsuario === 'Supervisor'
          "
          (click)="toggleList($event)"
        >
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="
            this.authService.tipoUsuario === 'Dueño' ||
            this.authService.tipoUsuario === 'Supervisor'
          "
          [routerLink]="'/listaClientes'"
          routerDirection="root"
        >
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-button>
        <ion-button
        *ngIf="
          this.authService.tipoUsuario === 'Mozo'"
        [routerLink]="'/salaDeChats'"
        routerDirection="root"
      >
      <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>


  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>


  <ion-list *ngIf="showList" class="custom-list">
    <h3 class="list-title">Alta de Usuario</h3>
    <!-- <ion-item
      *ngIf="authService.tipoUsuario === 'Maître'"
      (click)="selectOption('Clientes')"
    >
      Clientes
    </ion-item> -->
    <ion-item
      *ngIf="
        this.authService.tipoUsuario === 'Dueño' ||
        this.authService.tipoUsuario === 'Supervisor'
      "
      (click)="selectOption('Empleado')"
    >
      Empleado
    </ion-item>
    <ion-item
      *ngIf="
        this.authService.tipoUsuario === 'Dueño' ||
        this.authService.tipoUsuario === 'Supervisor'
      "
      (click)="selectOption('Supervisor')"
    >
      Dueño o Supervisor
    </ion-item>
  </ion-list>
</ion-app>

<!-- El splash screen personalizado -->
<app-splash-screen *ngIf="!bandera"></app-splash-screen>
