h1 {
  color: var(--color-detalles);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}

h2 {
  text-transform: capitalize;
  font-size: 30px;
  width: 100%;
}

.textoBoton {
  font-size: 20px;
  width: auto;
  color: white;
}

.sinDatos {
  font-size: 40px;
  margin-top: 20px;
  color: white;
  text-align: center;
}

#info,
#accion {
  width: 80px;
}
