<div class="container" *ngIf="tipoTraido !== null">
  <h1>{{ titulo }}</h1>
  <p class="sinDatos" *ngIf="!listaDeObjetos.length">
    No hay datos para mostrar
  </p>

  <div *ngFor="let item of listaDeObjetos" class="listaVerPedidoMesa">
    <h2>Mesa #{{ item.mesaNumero }}</h2>
    <ion-fab-button
      id="info"
      color="primary"
      (click)="verDetalleDelPedido(item)"
      size="small"
    >
      <ion-icon name="information-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      *ngIf="tipoTraido !== 'pendientes'"
      id="accion"
      color="success"
      (click)="modificarPedido(item)"
      size="small"
    >
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-button
      *ngIf="tipoTraido === 'pendientes'"
      id="entregarPedido"
      color="success"
      (click)="modificarPedido(item)"
      [disabled]="!puedeEntregarElPedido(item)"
    >
      Entregar pedido
    </ion-button>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button class="iconos" (click)="volverAtras()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal para mostrar el detalle del pedido -->
  <ion-modal #modal [isOpen]="estaAbiertoElModal" class="ionModal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Detalle del Pedido</ion-title>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="setModalOpen(false)">
              Cerrar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-list>
          <!-- Aquí iteramos sobre la lista de productos en el pedido -->
          <ion-item
            *ngFor="let producto of pedidoSeleccionado?.productosSeleccionados"
          >
            <ion-avatar slot="start">
              <ion-img [src]="producto.fotos[0]"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>
                {{ producto.nombre }} - Cantidad:
                {{ producto.cantidadSolicitada }}
              </h2>
              <p>Tiempo de elaboración: {{ producto.tiempoElaboracion }} min</p>
              <p>Precio unitario: ${{ producto.precio }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <h2>
              Importe total: ${{ pedidoSeleccionado?.importeTotal }}
              <span *ngIf="tipoTraido === 'pendientes'">
                Estado del pedido: {{ obtenerEstadoDelPedido() }}
              </span>
            </h2>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>

<div class="container" *ngIf="!tipoTraido">
  <p class="sinDatos">Error al acceder a lo que se solicitó</p>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 08)"
  template="<img src='./../../../assets/spinner.png' alt='logo' />"
></ngx-spinner>
