<ngx-spinner
  bdColor="rgba(0, 0, 0, 08)"
  template="<img src='./../../../assets/logoConFondo.png' alt='logo' />"
>
  <p style="color: white; font-size: 40px">Cargando...</p>
</ngx-spinner>
<ion-content>
  <div class="container" *ngIf="formularioAnonimo === false">
    <h1>Inicio de sesión</h1>

    <div class="buttons-container">
      <button
        class="btnImagen"
        (click)="handleQuickAccess('maitre@gmail.com', '123456')"
      >
        <!-- Dueño -->
        <img src="./../../../assets/pics/maître.png" alt="Maître" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('supervisor@gmail.com', '123456')"
      >
        <!-- Supervisor -->
        <img src="./../../../assets/pics/supervisor.png" alt="Supervisor" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('fernando@gmail.com', '123456')"
      >
        <!-- Cliente -->
        <img src="./../../../assets/pics/cliente.png" alt="Cliente" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('cocinero@gmail.com', '123456')"
      >
        <!-- Cocinero -->
        <img src="./../../../assets/pics/cocinero.png" alt="Cocinero" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('mozo@gmail.com', '123456')"
      >
        <!-- Mozo -->
        <img src="./../../../assets/pics/mozo.png" alt="Mozo" />
      </button>
      <button class="btnImagen" (click)="ingresoAnonimo()">
        <!-- Anónimo -->
        <img src="./../../../assets/pics/anonimo.png" alt="Anónimo" />
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <ion-input
        color="dark"
        id="email"
        formControlName="email"
        type="email"
        label="Correo"
        placeholder="Ingrese correo"
        (input)="onInputChange()"
      />
      <br />
      <ion-input
        color="dark"
        id="password"
        formControlName="password"
        type="password"
        label="Clave"
        placeholder="Ingrese clave"
        (input)="onInputChange()"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <button class="botonPrincipal marginTop" type="submit">Iniciar sesión</button>
      <button class="botonPrincipal marginTop" (click)="crearAnonimo()">
        Iniciar anónimo
      </button>
    </form>
  </div>
  <div *ngIf="errorMessage.length > 0">
    <ion-toast
      class="text-danger"
      color="danger"
      [duration]="5000"
      (didDismiss)="errorMessage = ''"
      isOpen="errorMessage.length > 0"
      [message]="errorMessage"
      position="bottom"
    ></ion-toast>
  </div>
  <app-alta-usuarios
    *ngIf="formularioAnonimo === true"
    tipoTraido="Anónimo"
  ></app-alta-usuarios>
  <button
    class="botonPrincipal botonAnonimo"
    *ngIf="formularioAnonimo === true"
    (click)="crearAnonimo()"
  >
    Iniciar normalmente
  </button>
</ion-content>
