<ngx-spinner
  bdColor="rgba(0, 0, 0, 08)"
  template="<img src='./../../../assets/spinner.png' alt='logo' />"
>
</ngx-spinner>

<ion-content>
  <div class="container">
    <h1>Inicio de sesión</h1>

    <div class="botonesAccesoRapido">
      <button
        class="btnImagen"
        (click)="handleQuickAccess('duenio@gmail.com', '123456')"
      >
        <!-- Dueño -->
        <img src="./../../../assets/pics/duenio.png" alt="Maître" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('supervisor@gmail.com', '123456')"
      >
        <!-- Supervisor -->
        <img src="./../../../assets/pics/supervisor.png" alt="Supervisor" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('fernando@gmail.com', '123456')"
      >
        <!-- Cliente -->
        <img src="./../../../assets/pics/cliente.png" alt="Cliente" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('cocinero@gmail.com', '123456')"
      >
        <!-- Cocinero -->
        <img src="./../../../assets/pics/cocinero.png" alt="Cocinero" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('mozo@gmail.com', '123456')"
      >
        <!-- Mozo -->
        <img src="./../../../assets/pics/mozo.png" alt="Mozo" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('maitre@gmail.com', '123456')"
      >
        <!-- Maitre -->
        <img src="./../../../assets/pics/maître.png" alt="Maître" />
      </button>
      <button
        class="btnImagen"
        (click)="handleQuickAccess('bartender@gmail.com', '123456')"
      >
        <!-- Bartender -->
        <img src="./../../../assets/pics/bartender.png" alt="Bartender" />
      </button>
      <button class="btnImagen" (click)="ingresoAnonimo()">
        <!-- Anónimo -->
        <img src="./../../../assets/pics/anonimo.png" alt="Anónimo" />
      </button>
    </div>

    <form [formGroup]="form">
      <ion-input
        color="dark"
        id="email"
        formControlName="email"
        type="email"
        label="Correo"
        placeholder="Ingrese correo"
        (input)="onInputChange()"
      />
      <br />
      <ion-input
        color="dark"
        id="password"
        formControlName="password"
        type="password"
        label="Clave"
        placeholder="Ingrese clave"
        (input)="onInputChange()"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <div class="botonesPrincipales">
        <button
          id="btnInicioSesion"
          class="botonPrincipal"
          (click)="iniciarSesion()"
        >
          Iniciar sesión
        </button>
        <button
          id="btnRegistrarse"
          class="botonPrincipal"
          (click)="registrarse = true"
        >
          Registrarse
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="errorMessage.length > 0">
    <ion-toast
      class="text-danger"
      color="danger"
      [duration]="5000"
      (didDismiss)="errorMessage = ''"
      isOpen="errorMessage.length > 0"
      [message]="errorMessage"
      position="bottom"
    ></ion-toast>
  </div>

  <div *ngIf="registrarse === true" class="overlay">
    <div class="card">
      <h2>¿Cómo desea registrarse?</h2>
      <div class="buttons">
        <button
          class="btnImagen botonEleccion"
          (click)="rutearAnonimo('Anónimo')"
        >
          Anónimo
        </button>
        <button
          class="btnImagen botonEleccion"
          (click)="rutearCliente('Cliente')"
        >
          Cliente
        </button>
        <button class="btnImagen botonEleccion" (click)="registrarse = false">
          <ion-icon name="arrow-back-outline"></ion-icon>
          &nbsp; Volver
        </button>
      </div>
    </div>
  </div>
</ion-content>
